{% block choice_with_list_widget %}
    <link href="{{ asset('css/bundle-task-list.css') }}" rel="stylesheet"/>

    <div class="e-sprint-choice-with-list-wrapper">
        {{ block('choice_widget') }}
        <ul id="e-sprint-bundle-task-list"></ul>
    </div>

    <script src="{{ asset('js/core/bundle-task-list.js') }}"></script>
{% endblock %}

{% block choice_with_calendar_widget %}
    <link href="{{ asset('css/calendar.css') }}" rel="stylesheet"/>

    <div class="e-sprint-choice-with-calendar-wrapper">
        {{ block('choice_widget') }}
        <hr />
        <div>
            <p class="e-sprint-start date"></p>
            <p class="e-sprint-end date"></p>
        </div>
        <div>
            <h3>Task List</h3>
            <ul class="e-sprint-task-list"></ul>
        </div>
        <hr />
        <div class="calendar">
            <div class="month">
                <ul>
                    <li>
                        <span class="e-sprint-month-name"></span>
                        <span class="e-sprint-year"></span>
                    </li>
                </ul>
            </div>

            <ul class="weekdays">
            </ul>

            <ul class="cells"></ul>
        </div>
    </div>

    <script src="{{ asset('js/schedule/calendar.js') }}"></script>
{% endblock %}
