{% block choice_with_list_widget %}
    <link href="{{ asset('css/bundle-task-list.css') }}" rel="stylesheet"/>

    <div class="e-sprint-choice-with-list-wrapper">
        {{ block('choice_widget') }}
        <ul id="e-sprint-bundle-task-list" />
    </div>

    <script src="{{ asset('js/core/bundle-task-list.js') }}"></script>
{% endblock %}

{% block choice_with_calendar_widget %}
    <link href="{{ asset('css/calendar.css') }}" rel="stylesheet"/>

    <div class="e-sprint-choice-with-calendar-wrapper">
        {{ block('choice_widget') }}
        <hr />
        <div class="calendar">
            <div class="month">
                <ul>
                    <li class="prev">&#10094;</li>
                    <li class="next">&#10095;</li>
                    <li>August<br><span style="font-size:18px">2021</span></li>
                </ul>
            </div>

            <ul class="weekdays">
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
                <li>Sa</li>
                <li>Su</li>
            </ul>

            <ul class="days">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li><span class="active">10</span></li>
                <li>11</li>
                ...etc
            </ul>
        </div>
    </div>
{% endblock %}
